*.pyc
*.hex
*.log
.pio/
.vscode/
Objects
Listings
readme.txt
*.uvguix*
*.hex
*.bin
*.scvd
*.dep
*.log
*.ewt
*.ewd
settings
Debug
说明.txt
*ts32f401*
*at32f401*
*at32f403*
*at32f407*
*at32f413*
*at32f415*
JLinkSettings.ini
AT_START_F4xx
Abstract.txt
